<p>Here are your Goodreads Bookshelves:</p>

<table class="striped">
  <thead>
    <tr>
        <th>Shelf Name</th>
        <th>Number of Books on Shelf</th>
        <th>See if you can acquire these books</th>
    </tr>
  </thead>
  <tbody>
    <% if @shelves %>
    <% @shelves.each do |shelf| %>
      <tr>
        <td><%= shelf[0] %></td>
        <td><%= shelf[1] %></td>
        <td>
          <a href="/shelves/<%= shelf[0] %>" class="btn waves-effect waves-light green">Choose this shelf
            <i class="material-icons right">send</i>
          </a>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
<% else %>
<p>No Shelves found. You may have waited too long, the Goodreads authentication token is only good for 30 seconds. Make sure you are using a modern browser, like Firefox, Safari, or Chrome and have the latest version.</p>
<% end %>
