<h3>Your Goodreads Bookshelves</h3>
<br>

<% if @shelves %>
  <table class="striped responsive">
    <thead>
      <tr>
          <th>Name</th>
          <th>Number of Books</th>
          <th>Select</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: Sort these by number of books -->
      <% @shelves.each do |shelf| %>
        <tr class="hoverable">
          <td><%= shelf[0] %></td>
          <td><%= shelf[1] %></td>
          <td><a href="/bookshelves/<%= shelf[0] %>" class="btn waves-effect waves-light"><i class="material-icons right">send</i></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Shelves found. You may have waited too long to sign into Goodreads, the Goodreads authentication token is only good for 30 seconds. Make sure you are using a modern browser, like Firefox, Safari, or Chrome and have the latest version.</p>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
