<h4>Your Goodreads Bookshelves</h4>
<br>

<% if @shelves %>
  <div class="row">
    <% @shelves.each do |shelf| %>
      <div class="col s6 m4">
        <a href="/bookshelves/<%= shelf[0] %>">
          <div class="card blue-grey">
            <span class="card-title white-text"><%= shelf[0] %></span>
            <div class="card-action white-text">
              <i class="material-icons green-text right">send</i>
              <p>See which of the <%= shelf[1] %> book(s) on this shelf are available to request.</p>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No Shelves found. You may have waited too long, the Goodreads authentication token is only good for 30 seconds. Make sure you are using a modern browser, like Firefox, Safari, or Chrome and have the latest version.</p>
<% end %>
