<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>Step 2</h3>
    <div class="progress">
      <div class="determinate" style="width: 50%"></div>
    </div>
    <h5>Find a library near you</h5>
  </div>
</div>

<div class="row">
  <div class="col s12 l6 offset-l3 m8 offset-m2">
    <div class="card">
      <form action="/auth/library" method="post">
        <div class="input-field">
          Enter your zip code: <input type="text" autofocus pattern="[0-9]{5}" name="zipcode">
        </div>
        <button class="btn btn-block btn-large waves-effect waves-light" type="submit" name="action">Find a library
          <i class="material-icons right">near_me</i>
        </button>
      </div>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
