<div class="row">
  <div class="col m5">
    <div class="row">
      <div class="col m3">
        <i class="medium material-icons">book</i>
      </div>
      <h4>Receive books</h4>
      <p>Add these books to your Bookmooch wishlist, so Bookmooch will email you when they become available to mooch. Then get them by mail!</p>
    </div>
    <div class="card blue-grey darken-1">
      <div class="card-image">
        <img src="http://i.bookmooch.com/images/bookmooch_logo.gif">
      </div>
      <div class="card-content white-text">
        <span class="card-title">Mooch these books</span>
        <p>Enter your credentials to log into Bookmooch.com.</p>
          <form action="/bookmooch" method="post">
            <div class="input-field col s6">
              Username: <input type="text" name="username">
            </div>
            <div class="input-field col s6">
              Password: <input type="password" name="password">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Authenticate
              <i class="material-icons right">send</i>
            </button>
          </form>
      </div>
    </div>
  </div>
  <div class="col m5 offset-m2">
    <div class="row">
      <div class="col m3">
        <i class="medium material-icons">cloud_download</i>
      </div>
      <h4>Download ebooks</h4>
      <p>Check if your library has these books available to download as ebooks. Overdrive at your library lets you download ebooks for your eReader.</p>
    </div>
    <div class="card blue-grey darken-1">
      <div class="card-image">
        <img src="https://americanlibrariesmagazine.org/wp-content/uploads/2016/02/overdrivelogo.jpg">
      </div>
      <div class="card-content white-text">
        <span class="card-title">Download ebooks</span>
        <p>Enter your zip code so we can find libraries near you.</p>
        <form action="/library" method="post">
          <div class="input-field col s12">
            Your zip code: <input type="text" pattern="[0-9]{5}" name="zipcode">
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Find a library
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<h5>Here are the books on your Goodreads <%= @shelf_name %> shelf:</h5>
<small>If this is empty, go to Goodreads and add books to your shelf.</small>


<div class="row">
  <div class="cards-container">
    <% @isbnset.each do |isbn| %>
      <div class="card hoverable">
        <div class="card-image">
          <img src="<%= isbn[1] %>">
        </div>
        <div class="card-content">
          <small><%= isbn[2] %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
