<div class="row">
  <div class="col l6 s12 ">
    <h2>About this app</h2>
    <h4>Yonderbook features</h4>
    <h6>Goodreads -> Libby</h6>
    <ul>
        <li>Yonderbook can copy books from your Goodreads lists and let you add them to your Libby app.</li>
        <li>This is useful when you want to read a book on your phone or tablet, and want to use to your to-read list from Goodreads to find something you have already decided you want to read. Rather than just scrolling through Libby, you can find exactly what you already want.</li>
    </ul>
    <h6>Goodreads -> Bookmooch</h6>
    <ul>
    <li>Yonderbook can copy books from your Goodreads lists (for example, your want-to-read list) to your Bookmooch wishlist.</li>
    <li>With this feature, you can get the books you want to read in the mail. Bookmooch is a site where you can request a physical book in the mail, but, as you can imagine, the best books get requested quickly. But by putting the books you want on your Bookmooch wishlist, you'll get an email when they are available to "mooch" and you can be the first one to mooch them.</li>
    </ul>
    <h6>Analyze your reading</h6>
    <ul>
    <li>Yonderbook can analyze your reading patterns based on male/female author and age of book.</li>
    </ul>

    <h4>Why I built Yonderbook</h4>

    <p>I am an avid reader, as most of you probably are, and I have over 1200 books on my Goodreads to-read shelf. I wanted a quick way to use those books and see which were available to download from my library.  So I created a tool. I posted online and asked if this is something people would be interested in, and I got a resounding yes.</p>
    <p>Give it a try! Hope this helps all of you do more reading with more of the books you want. Let me know how it works out! If you want new features I might be able to build them too.</p>
  </div>
</div>
