<div class="container">
  <div class="row">
    <div class="col s6">
      <h2>About this app</h2>
      <p>Bookmooch is a site where you can get free books. But often the popular ones go quickly before you can get a chance to mooch them. If you have a bookmooch wishlist, however, they will email you when any of those wishlist books become available.</p>
      <p>I am an avid reader, as most of you probably are, and I have over 300 books on my Goodreads to-read shelf. I wanted a quick way to add those to my Bookmooch wishlist, without searching for and adding each individually. So I created a tool. I posted online and asked if this is something people would be interested in, and I got a resounding yes.</p>
      <p>I highly recommend signing up for Bookmooch.com if you haven't already. I saw it posted on reddit a couple of months ago by a guy who was giving away books, and I signed up. Since then I have given away about 10 books that I was finished with, and got about 5 new ones (and I have five credits). The only downside with Bookmooch is that the good ones get snapped up quickly, but this app helps with that by letting it email you when the books become available.</p>
      <p>Give it a try! Hope this helps all of you do more reading with more of the books you want. Let me know how it works out! If you want new features I might be able to build them too.</p>
      <a href="https://twitter.com/stephanieblack">Tweet at me</a> with feature requests, bugs or ideas!
      <br>
      <br>

    </div>
    <div class="col s6">
      <h2 class="teal-text">Yonderbook</h2>
      <div class="card">
        <div class="card-image">
          <img src="img/tent.jpg">
        </div>
        <div class="card-content">
          <p>Yonderbook is another book app I'm building for iPhone and Android, built for book lovers, by book lovers.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yonderbook.com">Check it out &raquo;</a>
        </div>
      </div>
    </div>

  </div>
<script data-gratipay-username="stephanie"
      src="//grtp.co/v1.js"></script>
</div>
