<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>About this app</h3>
    <p>I am an avid reader, as most of you probably are, and I have over 300 books on my Goodreads to-read shelf. I wanted a quick way to use those books and see which were available to download from my library.  So I created a tool. I posted online and asked if this is something people would be interested in, and I got a resounding yes.</p>
    <p>Give it a try! Hope this helps all of you do more reading with more of the books you want. Let me know how it works out! If you want new features I might be able to build them too.</p>
    <a href="https://twitter.com/stephanieblack">Tweet at me</a> with feature requests, bugs or ideas!
    <br>
    <br>
  </div>
</div>
