<h1>Coming soon!</h1>

<% @titles.each do |title| %>
  <li>Title: <%= title.title %></li>
  <li>Copies Available: <%= title.copies_available %></li>
  <li>Copies Owned: <%= title.copies_owned %></li>
<% end %>
