<h3>Here are the books on your shelf that are available at that library</h3>
<span><em>Sorted in order of most available.</em></span>
<div class="row">
  <% @titles.sort_by { |t| t.copies_available }.reverse.each do |title| %>
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image">
          <img src="<%= title.image %>">
        </div>
        <div class="card-content">
          <span class="card-title"><%= title.title %></span>
          <p>Copies Available: <%= title.copies_available %></p>
          <p>Copies Owned: <%= title.copies_owned %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
