  <p>Successfully retrieved the books from your "<%= session[:shelf_name] %>" shelf.</p>
  <hr>
<div class="row">
  <div class="col s6">
    <h4>Mooch these books in hardcopy</h4>
    <div class="card horizontal blue-grey darken-1">
      <div class="card-image">
        <img src="http://bookmooch.com/about/img/bm_mid.jpg">
      </div>
      <div class="card-content white-text">
        <span class="card-title">Send to Bookmooch Wishlist</span>
        <p>To send these to your bookmooch wishlist, fill out this form:
          (These are your credentials to log into Bookmooch.com)</p>
          <form action="bookmooch" method="post">
            <div class="input-field col s6">
              Username: <input type="text" name="username">
            </div>
            <div class="input-field col s6">
              Password: <input type="password" name="password">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <h4>Download these books as ebooks</h4>
    <div class="card horizontal blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Coming soon</span>
        <p>Feature coming soon</p>
      </div>
    </div>
  </div>
</div>
<h5>Here are the ISBNs of the books on your Goodreads "<%= session[:shelf_name] %>" shelf:</h5>
<small>If this is empty, go to Goodreads and add books to your shelf.</small>
<hr>

<div class="row">
  <div class="cards-container">

  <% @isbnset.each do |isbn| %>
    <div class="card">
      <div class="card-image">
        <img src="<%= isbn[1] %>">
      </div>
      <div class="card-content">
        <%= isbn[0] %>
      </div>
    </div>
  <% end %>

  </div>
</div>
