<h1>Success</h1>
you logged in
<br>
here are your books
<br>

you have <%= @number_of_pages %> pages of books on your wishlist
<br>
here is page one
<br>

To send these to your bookmooch wishlist, fill out this form:
(These are your credentials to log into Bookmooch.com)
<form action="bookmooch" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>

<br>
<br>
<% @isbnset.each do |isbn| %>
<br>
<%= isbn %>
<% end %>
