<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>Step 3</h3>
    <div class="progress">
      <div class="determinate" style="width: 66%"></div>
    </div>
    <h5>Choose a library</h5>
  </div>
</div>

<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <% @local_libraries.each do |library| %>
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">local_library</i>
          <span class="title flow-text"><%= library[1] %></span>
          <form action="shelves/<%= @shelf_name %>/overdrive" method="post">
            <input type="hidden" name="consortium" value="<%= library[0] %>">
            <button class="btn-floating secondary-content" type="submit" id="<%= library[0] %>" name="action">
              <i class="material-icons right">send</i>
            </button>
          </form>
        </li>
      </ul>
  <% end %>
  </div>
</div>
