<h3 class="thin italic">Step 3: Choose a library</h3>
<br>
<div class="row">
  <% if @local_libraries %>
    <% @local_libraries.each do |library| %>
      <div class="col s12 m6">
        <form action="availability" method="post">
          <input type="hidden" name="consortium" value="<%= library[0] %>">
          <button class="btn btn-block waves-effect waves-light" type="submit" id="<%= library[0] %>" name="action"><%= library[1] %>
            <i class="material-icons right">send</i>
          </button>
        </form>
        <br>
      </div>
    <% end %>
  <% end %>
</div>
