<h3 class="thin italic">Libraries near you</h3>
<p>Coming soon: this will let you check if books on your selected shelf are available at a library listed below.</p>
<div class="row">
  <% if @local_libraries %>
    <% @local_libraries.each do |library| %>
      <div class="col s12 m6">
        <div class="card small blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= library[1] %></span>
            <p>ID: <%= library[0] %></p>
          </div>
          <div class="card-action">
            <p>See if any books on your wishlist are available here.</p>
            <form action="availability" method="post">
              <input type="hidden" name="consortium" value="<%= library[0] %>">
              <button class="btn waves-effect waves-light green" type="submit" id="<%= library[0] %>" name="action">Choose this shelf
                <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
