<h1>Success</h1>
<p>You logged in to goodreads successfully! </p>
<p>Here are your Goodreads Bookshelves</p>

<table>
  <thead>
    <tr>
        <th>Shelf Name</th>
        <th>Number of Books on Shelf</th>
        <th>Send this shelf to Bookmooch</th>
    </tr>
  </thead>
  <tbody>
    <% if @shelves %>
    <% @shelves.each do |shelf| %>
      <tr>
        <td><%= shelf[0] %></td>
        <td><%= shelf[1] %></td>
        <form action="books" method="post">
          <input type="hidden" name="shelf_name" value=\"<%= shelf[0] %>\" >
          <td>
            <button class="btn waves-effect waves-light green" type="submit" name="action">Choose this shelf
              <i class="material-icons right">send</i>
            </button>
          </td>
        </form>
      </tr>
    <% end %>

  </tbody>
</table>
<% else %>
<p>No Shelves found. You may have waited too long, the Goodreads authentication token is only good for 30 seconds. Make sure you are using a modern browser, like Firefox, Safari, or Chrome and have the latest version.</p>
<% end %>
