<div class="row">
  <div class="col m6 offset-m3">
    <br>
    <br>
    <h5 class="center">
      Use
      Goodreads
      bookshelves
      to
      download
      library
      ebooks
    </h5>
    <br>
    <br>
    <div class="center">
      <!-- TODO: make this login button better -->
      <a href='<%= @auth_url %>' class="btn-large waves-effect waves-light block btn">
        <img class="goodreads-logo" src="img/goodreads-filled.png" height="40px" alt="">
        Log in with goodreads
      </a>
    </div>
  </div>
</div>
