<div class="row">
  <div class="col m6 offset-m3">
    <br>
    <br>
    <h3 class="center">
      Use
      Goodreads
      bookshelves
      to
      download
      books
      from your
      library
    </h3>
    <br>
    <br>
    <div class="center">
      <!-- TODO: make this login button better -->
      <a href='<%= @auth_url %>' class="btn-large btn waves-effect waves-light btn-block">
        Log in with goodreads
        <i class="material-icons right">
        open_in_new
        </i>
      </a>
    </div>
  </div>
</div>
