<div class="row" style="margin-top: 6rem;">
  <div class="col s12 m5 offset-m1 l5 offset-l1">
    <h3 class="center">
      Use
      Goodreads
      bookshelves
      to
      download
      books
      from your
      library
    </h3>
    <div class="center" style="margin-top: 2rem;">
      <!-- TODO: make this login button better -->
      <a href='<%= @auth_url %>' class="btn-large btn filled icon-right waves-effect waves-light">
        Log in with goodreads<i class="material-icons">open_in_new</i>
      </a>
    </div>
  </div>
  <div class="col s12 m5 l5">
    <div class="card blue-grey">
      <div class="card-content white-text">
        <span class="card-title">Notice</span>
        <p>As of December 8, 2020 Goodreads announced it is planning to close API access to the platform, effectively disabling outside access to Goodreads data.</p>
        <br>
        <p>Yonderbook relies extensively on the Goodreads API, and I'm considering how to proceed.</p>
        <br>
        <p>Please let me know in the chat box in the bottom right if you have any thoughts.</p>
      </div>
    </div>
  </div>
</div>
