<div class="mt-24">
  <div class="text-center relative">
    <div class="absolute -top-8 left-1/2 transform -translate-x-1/2 opacity-20">
      <img src="/img/objects/1.png" alt="" class="w-16 h-16 object-contain">
    </div>
    <h3 class="text-3xl font-bold text-gray-900 mb-8">
      Book tools for Goodreads, Libby, and Bookmooch
    </h3>
    <div class="mt-8">
      <a href='<%= @auth_url %>' class="inline-flex items-center px-6 py-3 bg-brand text-white font-semibold text-lg rounded-lg shadow-lg transition-colors duration-200">
        Log in with Goodreads
        <img src="/svg/external-link.svg" alt="External link" class="w-5 h-5 ml-2">
      </a>
    </div>
  </div>
</div>
