<div class="row" style="margin-top: 6rem;">
  <div class="col s12">
    <h3 class="center">
    Book tools for Goodreads, Libby, and Bookmooch
    </h3>
    <div class="center" style="margin-top: 2rem;">
      <!-- TODO: make this login button better -->
      <a href='<%= @auth_url %>' class="btn-large btn filled icon-right waves-effect waves-light" id="login-btn">
        <span class="btn-text">Log in with Goodreads<i class="material-icons">open_in_new</i></span>
        <div class="preloader-wrapper small active" id="login-spinner" style="display: none;">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
