<h3>Books Available</h3>
<a class="btn waves-effect waves-light green" href="/inventory/new">Add New Book
  <i class="material-icons right">library_add</i>
</a>


<% @books.each do |book| %>
  <hr>
  <%= book[:isbn] %>
<% end %>
