<h3>Books Available</h3>
<a class="btn waves-effect waves-light green" href="/inventory/new">Add New Book
  <i class="material-icons right">library_add</i>
</a>

<div class="row">

<% @books.each do |book| %>
<div class="col s3 m2">
  <div class="card hoverable">
    <div class="card-image">
      <img src="<%= book[:cover_image_url] %>" alt="">
    </div>
    <%= book[:title] %>
    <em>User: <%= @users.first(id: 1)[:first_name] %></em>
    <hr>
    <a href="#">Mooch Me</a>
  </div>
</div>
<% end %>
</div>
