<h4>Take a photo of your book's barcode</h4>

<form action="/create" method="post">
  <div class="file-field input-field">
    <div class="btn">
      <i class="material-icons left">camera_alt</i>Take Barcode Photo</a>
      <input type="file" accept=".jpg" id="first_name2" type="text" class="validate">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
