h1,
h2,
h3,
h4 {
  font-family: 'Quattrocento', serif;
}

.cards-container {
  -webkit-columns: 300px;
  -moz-columns: 300px;
  columns: 300px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.card {
  background: white;
  padding: 1em;
  margin-bottom: 1.3em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to top, #CAf7eb 0%, #138586 100%);
}

main {
  flex: 1 0 auto;
}
.goodreads-logo {
  padding-top: 30px;
}

.btn-block {
  width: 100%;
}
