/* FONTS AND TYPE */

@font-face {
    font-family: 'coatsregular';
    src: url('../fonts/coats_regular-webfont.eot');
    src: url('../fonts/coats_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coats_regular-webfont.woff2') format('woff2'),
         url('../fonts/coats_regular-webfont.woff') format('woff'),
         url('../fonts/coats_regular-webfont.svg#coatsregular') format('svg');
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand-logo {
  font-family: 'coatsregular', 'Lato', serif;
}

a,
span,
body {
  font-family: 'Lato', serif;
}

/* COLORS */

.btn {
  background-color: rgba(80, 18, 41, 0.75)
  border-radius: 20px;
}

.disabled {
  color: gray!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.brand-logo {
  color: #501229;
}


/* LAYOUT AND SCAFFOLDING */

.cards-container {
  -webkit-columns: 150px;
  -moz-columns: 150px;
  columns: 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.card {
  background: white;
  padding: 1em;
  margin-bottom: 1.3em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to top, #CAf7eb 0%, #138586 100%);
}

main {
  flex: 1 0 auto;
  background-image: url(../img/clouds/2.png), url(../img/clouds/10.png);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 0% 75%, 100% 33%;
}

.goodreads-logo {
  padding-top: 30px;
}

.btn-block {
  width: 100%;
}
