h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mona Sans', sans-serif;
  font-variation-settings: 'wdth' 112.5;
}

body,
a,
span {
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
