<!-- <div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>Account</h3>
    <p><b>Name: </b><%= @user[:first_name]%></p>
    <p><b>Email: </b><%= @user[:email]%></p>
    <p><b>Goodreads ID: </b><%= @user[:goodreads_user_id]%></p>
    TODO: make this button work
    <a href="#" class="btn">Save</a>
  </div>
</div> -->
