---
http_interactions:
- request:
    method: get
    uri: https://www.goodreads.com/review/list/42.xml?key=<GOODREADS_API_KEY>&page=1&per_page=100&shelf=to-read&v=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <GoodreadsResponse>
          <reviews start="1" end="100" total="250">
        <review>
          <book>
            <isbn13>9780062316098</isbn13>
            <image_url>https://images.gr-assets.com/books/1.jpg</image_url>
            <title>Recorded Book 1</title>
            <authors><author><name>Author 1</name></author></authors>
            <published>2001</published>
          </book>
          <rating>2</rating>
          <date_added>Mon Jan 02 00:00:00 -0800 2024</date_added>
        </review>
        <review>
          <book>
            <isbn13>9780062316099</isbn13>
            <image_url>https://images.gr-assets.com/books/2.jpg</image_url>
            <title>Recorded Book 2</title>
            <authors><author><name>Author 2</name></author></authors>
            <published>2002</published>
          </book>
          <rating>3</rating>
          <date_added>Mon Jan 03 00:00:00 -0800 2024</date_added>
        </review>
 [...]
[...]
